services:
  meshcore-mqtt-broker:
    image: bjorkan/meshcore-mqtt-broker:latest
    restart: unless-stopped
    env_file:
      - ./broker/.env
    environment:
      BROKER_KV_URL: redis://valkey:6379
      BROKER_KV_NAMESPACE: meshcore-mqtt-broker
    ports:
      - "8883:8883"
    depends_on:
      - valkey

  valkey:
    image: valkey/valkey:9-alpine
    restart: unless-stopped
    command: ["valkey-server", "--appendonly", "yes"]
    volumes:
      - valkey-data:/data

  meshcore-mqtt-broker-bridge:
    image: bjorkan/meshcore-mqtt-broker-bridge:latest
    restart: unless-stopped
    depends_on:
      - meshcore-mqtt-broker
    env_file:
      - ./bridge/.env

volumes:
  valkey-data:
